AuthType Basic
AuthName "Protected"
AuthUserFile C:\wamp64\www\kta16v\.htpasswd
Require valid-user
#vsegda proverjat' put' AuthUserFile

<files "*.txt">
deny from all
</files>
<files "*.inc">
deny from all
</files>